::ng-deep .ng-select-outline .ng-select-container {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    height: 56px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

::ng-deep .ng-select-outline.ng-select-focused .ng-select-container {
    border-color: #3f51b5;
    box-shadow: 0 0 0 1px #3f51b5;
}


.w-100 {
    width: 100%;
}