<div class="dashboard-container" [class.collapsed]="isSidebarCollapsed">
    <div class="sidebar">
        <button class="toggle-btn" (click)="toggleSidebar()">
            {{ isSidebarCollapsed ? 'Open' : 'Close' }}
        </button>

        <div class="menu" *ngIf="!isSidebarCollapsed">
            <h2 align="center">EMS</h2>
            <ul class="nav-buttons">
                <li><a *ngIf="role == 'ADMIN'" class="cursor-pointer" (click)="onRedirect($event, 'home')"> <mat-icon>home</mat-icon> Home</a></li>
                <li><a class="cursor-pointer" (click)="onRedirect($event, 'employeeDetail')"> <mat-icon>person</mat-icon> Employee Details</a></li>
                <li><a *ngIf="role == 'ADMIN'" class="cursor-pointer" (click)="onRedirect($event, 'departmentDetail')"><mat-icon>business</mat-icon> Departments</a></li>
                <li class="logout"><a class="cursor-pointer" (click)="onRedirect($event, 'logout')"><mat-icon>exit_to_app</mat-icon>Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>